* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  gap: 3px;
}
.img {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(images/Skill\ lemma\ logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.logo p {
  font-size: 2rem;
  font-family: monospace;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00a1b9;
  padding: 1.5rem;
  color: aliceblue;
  font-family: sans-serif;
}

li {
  list-style: none;
}
.nav-items {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.items {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  font-size: 1.3rem;
}

.signin {
  font-family: serif;
  font-size: 1.3rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 2px;
}

.icon {
  width: 2rem;
  height: 2rem;
  background-image: url(images/Sign-in\ logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.first-section {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#ff8911, white);
}
.doubt-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 0 2rem;
  gap: 1rem;
}
.doubt-field h1 {
  color: #fff;
  font-style: italic;
  font-family: sans-serif;
  font-size: 1.5rem;
}
.doubt-field form textarea:focus {
  outline: none;
}

.doubt-field form textarea {
  border: 2px solid #ff8911;
  padding: 0.5rem;
  font-size: 16px;
}
.doubt-field form textarea::placeholder {
  color: black;
  text-transform: uppercase;
  font-size: 18px;
}
.doubt-field form {
  display: flex;
  background-color: #fff;
  padding: 0.9rem;
  border-radius: 15px;
  max-width: 95%;
  align-items: center;
  gap: 1rem;
  border: 1px solid silver;
}

#file {
  display: none;
}

.arrow {
  background: none;
  border: none;
}

.menu-icn {
  color: black;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  padding-top: 0.3rem;
}

@media only screen and (max-width: 861px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0;
    width: 50%;
  }
  .nav-items {
    flex-direction: column;
    gap: 1.25rem;
    padding: 1rem 0;
    display: none;
  }
  .items {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    font-size: 1.2rem;
  }
  .doubt-field {
    padding: 0 1rem;
  }
  .doubt-field h1 {
    margin-left: 0.5rem;
  }
  .navigation-bar {
    display: flex;
    justify-content: space-between;
    background-color: #00a1b9;
    padding: 1.5rem;
  }
}

@media only screen and (min-width: 861px) {
  .menu-icn {
    display: none;
  }

  .nav-items {
    display: flex !important; /* Ensure navigation items are always visible on larger screens */
  }
}

@media only screen and (max-width: 500px) {
  .items {
    font-size: 0.9rem;
  }
  .signin {
    font-size: 1rem;
  }
}

/*     Footer CSS Start  HERE Please do not add other files CSS here               */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #28c2f3;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;

  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 15px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;

  display: block;
  transition: all 0.3s ease;
}
.footer-col:last-child {
  margin-left: 180px;
}
.footer-col ul li a:hover {
  color: yellow;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  background-color: palevioletred;
}
a {
}
/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .footer-col:last-child {
    margin-left: 1px;
  }
  .skill {
    padding-top: -40px;
  }
}
@media (max-width: 500px) {
  .footer-col {
    width: 100%;
  }
}

@media (max-width: 864px) and (min-width: 768px) {
  .skill {
    margin-top: 62px;
  }
}

#last {
  text-align: center;
  margin-top: 60px;
  color: white;
  font-size: 23px;
}

/*         Footer  CSS End Here      */
