body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

.container {
    text-align: center;
    padding: 20px; 
    background-color: #00a1b9;
    color: white;
    font-weight: bold;
}

h2 {
    margin: 8px 0; 
    padding: 0;
}

p {
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 18px;
        margin: 6px 0;
    }

    p {
        margin-top: 8px; 
        font-size: 14px;
    }
}

.tutor {
    background-color: #00a1b9;
    color: white;
    text-align: center;
    height: 100px; 
}

.tutor h2 {
    padding-top: 35px; 
    font-weight: bolder;
    font-size: x-large;
}

.card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: 15px;
}

.card {
    width: 90%; 
    max-width: 380px;
    margin: 0 0 20px 5px;
    border: #00a1b9 2px solid;
    border-radius: 25px;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.center {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.note {
    color: red;
    font-size: medium;
    text-align: center;
}

.line-above-button {
    border-top: 1.5px solid #00a1b9;
    margin-bottom: 20px; 
}

.p2 {
    margin-bottom: 40px;
}

button {
    padding: 10px 100px; 
    font-size: 17px;
    margin-left: 30px;
    border: 1.5px solid black;
    border-radius: 7px;
}

.small-text {
    font-size: 13px;
    margin-top: 6px;
    margin-left: 4px;
    color: gray;
}
