:root {
    --bg-color: white;
    --text-color: #352f44;
    --theme-color: rgb(243, 96, 17);
    --theme-alter-color: #00a1b9;
    --image-shadow: rgba(0, 0, 0, 0.2);
}

*,
html {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

body {
    overflow-x: hidden;
    background-color: var(--theme-alter-color);
}

.overlay {
    transition: all 0.4s linear;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.495);
    backdrop-filter: blur(1px);
    display: none;
}

.header {
    grid-column-start: 1;
    background-color: white;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    padding-inline: 8rem;
    padding-block: 1rem;
    justify-content: space-between;

    & .hambar,
    .cross {
        display: none;
        cursor: pointer;
        transition: all 0.3 linear;
        & i {
            font-size: x-large;
        }
        &:hover {
            opacity: 0.8;
        }
    }

    & .logo > a {
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: 700;
        color: var(--theme-alter-color);
    }

    & .nav-bar {
        text-align: center;
        & .nav-list {
            padding: 0;
            display: flex;
            list-style: none;
            gap: 1rem;

            & .active-link {
                filter: brightness(50%);
            }

            & .nav-item {
                & a {
                    text-decoration: none;
                    color: var(--theme-alter-color);
                    font-weight: 500;
                }
                & :hover {
                    filter: brightness(50%);
                }
            }
        }
    }

    & .profile-section {
        padding-block: 5px;
        padding-inline: 10px;
        border-radius: 1.5rem;
        color: var(--bg-color);
        background-color: var(--theme-alter-color);

        & > * {
            color: inherit;
        }
    }
}

.container {
    margin: 5rem auto;
    display: grid;
    padding: 3rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 60vw;
    min-height: 60vh;

    & .image-div {
        width: 100%;

        & img {
            width: 70%;
        }
    }

    & .from-section {
        & .back-btn {
            transition: all 0.2s linear;
            text-decoration: none;
            &:hover {
                opacity: 0.8;
            }
        }
        & .info-text {
            & .reset-title {
                font-size: 2rem;
            }
        }
        & form {
            & #error-elm {
                display: none;
                margin-bottom: 5px;
                word-wrap: break-word;
                color: red;
            }
        }

        & .input-field {
            margin-block: 10px;
            position: relative;

            & .email-label {
                font-size: 1.1rem;
                color: rgb(120, 120, 120);
                transition: scale 0.3s ease;
            }
            & #email-field {
                width: 98%;
                font-size: 1.1rem;
                margin: 0;
                padding: 10px 5px;
                border: 1px solid;
                border-radius: 2px;
            }
        }
        & .submit-btn {
            width: 100%;
            background-color: var(--theme-color);
            font-size: 1.1rem;
            border: none;
            padding: 10px 10px;
            border-radius: 2px;
            color: white;
            cursor: pointer;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding-inline: 4rem;
        padding-block: 0.5rem;

        & .profile-section {
            & .profile-name {
                display: none;
            }
        }

        & .logo > a {
            font-size: 1.2rem;
            text-decoration: none;
            font-weight: 600;
            color: var(--theme-alter-color);
        }

        & .nav-bar {
            & .nav-list {
                gap: 0.8rem;
            }
        }
    }

    .container {
        margin: 5rem auto;
        padding: 2rem;
        grid-template-columns: 1fr;

        & .image-div {
            text-align: center;
            grid-area: 1/1;
        }
    }
}

@media screen and (max-width: 530px) {
    body {
        width: 100%;
    }

    .header {
        justify-content: space-between;
        gap: 10px;

        & .profile-section {
            margin-left: auto;
        }

        & .nav-bar {
            display: none;
        }

        & .hambar,
        .cross {
            display: block;
        }

        & .cross {
            position: absolute;
            top: 1rem;
            left: 1rem;
            z-index: 1000;

            & i {
                color: white;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        & .nav-active {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            padding-top: 33%;
            min-height: 100vh;
            width: 50%;
            z-index: 1000;
            background-color: var(--theme-alter-color);

            & .nav-list {
                display: flex;
                flex-direction: column;
                list-style: none;
                gap: 1rem;

                & .active-link {
                    filter: brightness(80%);
                }

                & .nav-item {
                    & a {
                        text-decoration: none;
                        color: white;
                        font-weight: 500;
                    }
                    & :hover {
                        filter: brightness(50%);
                    }
                }
            }
        }
    }

    .container {
        width: 70vw;
    }
}
