*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer-div{
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/BORDER.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img{
  background-image: url(../images/expert\ photo.jpg);
  background-size: cover;
  background-position: center;
  height: 40rem;
  width: 30rem ;
  border-radius: 30px;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.form{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  height: 40rem;
  width: 60%;
  background-color: #BDCDD6;
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
  padding-bottom: 1.5rem;
}

.form h3{
  font-size: 2.5rem;
}
.form label{
  font-size: 2rem;
}

.form-field{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-field input{
  font-size: 1.5rem;
  border: 0 transparent;
  border-radius: 10px;
  padding: 0.5rem;
}

.form button{
  padding: 0.5rem;
  border: none;
  background-color: #19A7CE;
  font-size: 1.25rem;
  color: white;
  border-radius: 8px;
  width: 60%;
}

@media(max-width:1023px){
  .img{
    height: 30rem;
    width: 95%;
  }
  .main-div{
    height: auto;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
  }

  .form{
    width: 95%;
    height: auto;
    gap: 2.5rem;
    padding-top: 2rem;
    padding-left: 1rem;
  }

  .form h3{
    font-size: 1.5rem;
  }
  .form label{
    font-size: 0.8rem;
  }
  .form-field input{
    font-size: 1rem;
    width: 15rem;
  }
  .form button{
    font-size: 1rem;
  }
  .form-field{
    gap: 0.5rem;
  }
}

@media(min-width:1024px){
  .outer-div{
    height: 100vh;
  }
}