:root {
    --bg-color: white;
    --text-color: #352f44;
    --theme-color: rgb(243, 96, 17);
    --theme-alter-color: #00a1b9;
    --image-shadow: rgba(0, 0, 0, 0.2);
}

*,
html {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

body {
    overflow-x: hidden;
}

.overlay {
    transition: all 0.4s linear;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.495);
    backdrop-filter: blur(1px);
    display: none;
}

.main-container {
    overflow: hidden;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid var(--theme-alter-color);
    border-radius: 10px;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    padding-inline: 8rem;
    padding-block: 1rem;
    margin-block: 10px;
    justify-content: space-between;

    & .hambar,
    .cross {
        display: none;
        cursor: pointer;
        transition: all 0.3 linear;
        & i {
            font-size: x-large;
        }
        &:hover {
            opacity: 0.8;
        }
    }

    & .logo > a {
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: 700;
        color: var(--theme-alter-color);
    }

    & .nav-bar {
        text-align: center;
        & .nav-list {
            padding: 0;
            display: flex;
            list-style: none;
            gap: 1rem;

            & .active-link {
                filter: brightness(50%);
            }

            & .nav-item {
                & a {
                    text-decoration: none;
                    color: var(--theme-alter-color);
                    font-weight: 500;
                }
                & :hover {
                    filter: brightness(50%);
                }
            }
        }
    }

    & .profile-section {
        padding-block: 5px;
        padding-inline: 10px;
        border-radius: 1.5rem;
        color: var(--bg-color);
        background-color: var(--theme-alter-color);

        & > * {
            color: inherit;
        }
    }
}

.side-content {
    position: relative;
    min-height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00a1b9;
    overflow: hidden;

    & .back-link {
        position: absolute;
        font-size: 1.5rem;
        top: 1rem;
        left: 1rem;

        & > i {
            color: white;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    & .contact-photo {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        & img {
            width: 10rem;
        }
    }

    & .title {
        word-wrap: break-word;
        color: inherit;
        font-size: 2.5rem;
        & span {
            color: var(--theme-color);
        }
    }
    & .subtitle {
        color: inherit;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 400;
    }

    & .company-info {
        color: white;
        font-style: bold;
        padding: 0;
        list-style: none;
        margin-top: 10px;

        & li:hover {
            transition: all 0.3s linear ease-in-out;
            opacity: 0.8;
        }

        & li > * {
            color: white;
            margin-bottom: 10px;
            cursor: pointer;
        }
    }
}

main {
    padding: 1.5rem;
    min-height: 90vh;
    display: flex;
    align-items: center;

    & form {
        margin-inline: auto;
        width: 100%;
    }
}
main :is(.name-section, .contact-section) {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    & div {
        width: 100%;
        display: flex;
        margin-bottom: 1rem;
        gap: 5px;
        flex-direction: column;

        & label {
            color: var(--text-color);
            font-style: bold;
            transform-origin: left;
            transition: all 0.2s linear;
        }

        & input {
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: 1px solid;
            font-size: 1.1rem;
            padding: 4px;
            transition: all 0.2s linear;
        }
        & input:focus-visible {
            border-color: var(--theme-color);
            box-shadow: 0 1px 0px var(--theme-color);
        }

        & input:hover {
            border-color: var(--theme-color);
        }
    }
    & div:focus-within label {
        opacity: 0.8;
        scale: 0.9;
    }
}

main .message-section {
    display: grid;
    grid-template-columns: 1fr;

    & label {
        margin-bottom: 1rem;
    }

    & textarea {
        font-size: 1.1rem;
        outline: none;
        border: 1px solid;
        border-radius: 10px;
        padding: 8px;
        background-color: transparent;
        transition: all 0.1s linear;
        resize: none;
    }

    & textarea:is(:hover, :focus-visible) {
        border-color: var(--theme-color);
    }

    & textarea:focus-visible {
        box-shadow: 0 0.5px 2px var(--theme-color);
    }
}

main .send-button {
    margin-top: 1rem;
    width: 100%;
    background-color: var(--theme-color);
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: white;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
        box-shadow: 0 0.5px 3px var(--text-color);
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding-inline: 4rem;
        padding-block: 0.5rem;

        & .profile-section {
            & .profile-name {
                display: none;
            }
        }

        & .logo > a {
            font-size: 1.2rem;
            text-decoration: none;
            font-weight: 600;
            color: var(--theme-alter-color);
        }

        & .nav-bar {
            & .nav-list {
                gap: 0.8rem;
            }
        }
    }

    .main-container {
        grid-template-columns: 1fr;
    }

    main {
        height: auto;
        padding: 1rem;
    }
}

@media screen and (max-width: 530px) {
    body {
        width: 100%;
    }

    .header {
        justify-content: space-between;
        gap: 10px;

        & .profile-section {
            margin-left: auto;
        }

        & .nav-bar {
            display: none;
        }

        & .hambar,
        .cross {
            display: block;
        }

        & .cross {
            position: absolute;
            top: 1rem;
            left: 1rem;
            z-index: 1000;

            & i {
                color: white;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        & .nav-active {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            padding-top: 33%;
            min-height: 100vh;
            width: 50%;
            z-index: 1000;
            background-color: var(--theme-alter-color);

            & .nav-list {
                display: flex;
                flex-direction: column;
                list-style: none;
                gap: 1rem;

                & .active-link {
                    filter: brightness(80%);
                }

                & .nav-item {
                    & a {
                        text-decoration: none;
                        color: white;
                        font-weight: 500;
                    }
                    & :hover {
                        filter: brightness(50%);
                    }
                }
            }
        }
    }

    .main-container {
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
    main {
        & form {
            margin: 5px;
        }
    }
    main :is(.name-section, .contact-section) {
        flex-direction: column;
    }
}
